/* FONTS */
@import url(../css/clash-display.css);

/* VARIABLES */
:root {
    --zibra-blue: #0728ff;
    --zibra-blue-rgb: 7, 40, 255;
    --c-dark: #212529;
    --c-brand: #4e57d4;
    --c-brand-light: #6970dd;
    --c-brand-rgb: 78, 87, 212;
    --c-body: #727272;
    --font-base: "Open Sans", sans-serif;
    --font-title: "Bebas Neue", sans-serif;
    --box-shadow: 0px 15px 25px rgba(0,0,0,0.08);
    --box-shadow-zibra: 0px 15px 25px rgba(7, 40, 255,0.08);
    --transition: all 0.5s ease;
}

/* RESET & HELPERS */
body {
    font-family: var(--font-base);
    line-height: 1.7;
    color: var(--c-body);
}

h1, h2, h3,h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
    color: var(--c-dark);
}

.title-hero {
    font-family: var(--font-title);
    font-weight: 100;
    font-size: 4.5em;
    letter-spacing: .1rem;
    font-style: normal;
}

.subtitle-hero {
    font-family: var(--font-title);
    font-weight: 100;
    font-size: 1.8em;
    letter-spacing: .1rem;
    font-style: normal;
}

a {
    text-decoration: none;
    color: var(--zibra-blue);
    transition: var(--transition);
}

a:hover {
    color: var(--zibra-blue);
}

img {
    max-width: 100%;
    height: auto;
}

.section-padding {
    padding-top: 140px;
    padding-bottom: 140px;
}

.theme-shadow {
    box-shadow: var(--zibra-blue-rgb);
}

/* IMAGE ZOOM */
.image-zoom {
    position: relative;
    /* overflow: hidden; */
}

.image-zoom-wrapper {
    overflow: hidden;
    position: relative;
}

.image-zoom-wrapper img{
     transition: var(--transition);
}

.image-zoom:hover .image-zoom-wrapper img {
    transform: scale(1.1);
}


/* NAVBAR */
.navbar {
    box-shadow: var(--box-shadow);
}

.navbar-nav .nav-link {
    font-weight: 500;
    color: var(--c-dark);
    text-transform: uppercase;
}

.navbar-nav .nav-link.active {
    color: var(--zibra-blue);
}

.logo {
    height: 2em;
}

/* BTN */
.btn {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 0;
    padding: 10px 24px;
}

.btn-brand {
    background-color: var(--c-dark);
    color: white;
}

.btn-brand:hover {
    background-color: var(--c-body);
    color: white;
}

.social-icons-navbar a i {
    font-size: 1.2em;
}

.social-icons-navbar a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--c-dark);
    color: white;
    border-radius: 100px;
}

.social-icons-navbar a:hover {
    background-color: var(--zibra-blue);
    color: white;
}


/* HERO */
#hero {
    background: linear-gradient(rgba(0,0,0, 0.6), rgba(0,0,0, 0.45)), url(../images/bg-hero.jpg);
    background-position: center;
    background-size: cover;
}

.bg-blue {
    background-color: rgba(var(--zibra-blue-rgb), 0.7);
    padding: 6em 0;
}


/* SECTION TITLE */
.section-title {
    margin-bottom: 60px;
}

.section-title .line {
    width: 60px;
    height: 4px;
    background-color: var(--zibra-blue);
    margin: 16px auto 24px auto;
}

.section-title p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.section-title h1,
.orcamento_title {
    font-family: var(--font-title);
    font-weight: 100;
    font-size: 5em;
    letter-spacing: 0.05em;
}



/* ICONBOX */
.iconbox {
    width: 70px;
    height: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(var(--c-brand-rgb), 0.1);
    color: var(--zibra-blue);
    font-size: 34px;
    flex: none;
}

/* SERVICE */
.service {
    position: relative;
    overflow: hidden;
    z-index: 2;
    border-radius: 8px;
    box-shadow: var(--box-shadow-zibra);
}

.service:hover {
    transform: scale(1.05);
    transition: var(--transition);
}

.service img:hover {
    transform: scale(1.2);
    transition: var(--transition);
}

.service:hover h5,
.service:hover p {
    color: white;
}

.service:hover .iconbox {
    background-color: rgba(255,255,255,0.2);
    color: white;
}

/* SERVICE FLIP CARDS */
.flip-box {
    transform-style: preserve-3d;
    perspective: 1000px;
    cursor: pointer;
}

.flip-box-front,
.flip-box-back {
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    min-height: 475px;
    transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
    backface-visibility: hidden;
}

.flip-box-front {
    transform: rotateY(0deg);
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-front {
    transform: rotateY(-180deg);
    transform-style: preserve-3d;
}

.flip-box-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-back {
    transform: rotateY(0deg);
    transform-style: preserve-3d;
}

.flip-box .inner {
    position: absolute;
    left: 0;width: 100%;
    padding: 30px;
    outline: 1px solid transparent;
    perspective: inherit;
    z-index: 2;
    transform: translateY(-50%)translateZ(60px) scale(.94);
    top: 50%;
}

.flip-box .inner i {
    font-size: 3em;
}

.flip-box-header {
    font-family: var(--font-title);
    font-weight: 100;
    font-size: 3em;
    letter-spacing: .1rem;
    font-style: normal;
}

.flip-box p {
    font-size: 0.9em;
    font-family: "Open Sans", sans-serif;
}

.flip-box-img {
    margin-top: 25px;
}

.flip-box-button {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    padding: 15px 20px;
    text-transform: uppercase;
    font-family: var(--font-title);
    font-weight: 100;
    font-size: 1.2em;
    letter-spacing: .1rem;
    font-style: normal;
}

.flip-box-button:hover {
    background-color: var(--zibra-blue);
    border: 2px solid var(--zibra-blue);
    transition: var(--transition);
}


/* COUNTER */
#counter {
    background: var(--zibra-blue);
    background-position: center;
    background-size: cover;
}

.counter_title {
    font-family: var(--font-title);
    font-weight: 100;
    font-size: 5em;
    letter-spacing: 0.05em;
}


/* CALL TO ACTION */

#orcamento {
    background: var(--c-dark);
    background-position: center;
    background-size: cover;
}

#orcamento h1 {
    font-weight: 700;
}



/* PORTFOLIO */
.portfolio-item .iconbox {
    background-color: var(--c-brand);
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.portfolio-item:hover .iconbox {
    opacity: 1;
    top: 50%;
}

/* REVIEW */
.review small {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--c-brand);
}

.review-head {
    position: relative;
}

.review-head::after {
    content: "";
    width: 28px;
    height: 28px;
    position: absolute;
    bottom: -14px;
    background-color: white;
    transform: rotate(45deg);
}

/* TEAM */
.team-member-content {
    background-color: var(--c-brand);
    position: absolute;
    bottom: -24px;
    left: 50%;
    width: calc(100% - 50px);
    transform: translateX(-50%);
    padding: 24px;
    transition: var(--transition);
    opacity: 0;
}

.team-member:hover .team-member-content {
    opacity: 1;
    bottom: 24px;
}

/* CONTACT */
#contact {
    position: relative;
    z-index: 2;
}

#contact::after {
    content: "";
    width: 100%;
    height: 70%;
    background: linear-gradient(rgba(0,0,0, 0.9), rgba(0,0,0, 0.2)), url(../images/bg-contact.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#contact .form-control {
    border-radius: 0;
}

#contact .form-control:focus {
    box-shadow: none;
    border-color: var(--zibra-blue);
}

.contact-button {
    background-color: var(--c-dark);
    border: 2px solid var(--c-dark);
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    margin-top: 25px;
    padding: 15px 20px;
    text-transform: uppercase;
    font-family: var(--font-title);
    font-weight: 100;
    font-size: 1.2em;
    letter-spacing: .1rem;
    font-style: normal;
}

.contact-button:hover {
    background-color: var(--zibra-blue);
    border: 2px solid var(--zibra-blue);
    transition: var(--transition);
}

/* FOOTER */
footer {
    padding-top: 120px;
}

.footer-top {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.footer-bottom {
    padding-top: 40px;
    padding-bottom: 40px;
}


footer li,
footer p,
footer a {
    color: rgba(255,255,255,0.7);
}

footer ul {
    list-style: none;
    padding: 0;
}

footer .line {
    width: 40px;
    height: 4px;
    background-color: var(--zibra-blue);
    margin-top: 12px;
    margin-bottom: 24px;
}

.social-icons a i {
    font-size: 1.2em;
}

.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255,0.1);
    border-radius: 100px;
}

.social-icons a:hover {
    background-color: var(--zibra-blue);
    color: white;
}

footer p,
footer li {
    font-size: 0.8em;
    line-height: 1.5em;
}

footer h5 {
    font-family: var(--font-title);
    font-weight: 100;
    font-size: 2em;
    letter-spacing: .1rem;
    font-style: normal;
}